@import url("html5-doctor-reset.css");
@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Karla:400,700);


// Base Font
$base-font-family: 'Karla', sans-serif;
$base-font-weight: normal;
$base-font-size: 14px;
$base-line-height: 1.6;
$base-text-color: #6d6d6d;

$p-font-size: 16px;
$p-line-height: 28px;

$primary-border-color: #dedede;





