---
layout: default
---
  <header class="main-header-home">
    <div class="bg-trianlge"></div>
    <div class="container">
      <h1 class="logo">PyBelgaum 2015, Belgaum, Karnataka</h1>
      <div class="desc">
        PyBelgaum 2015 is a local Python conference happening in Belgaum. It is conducted
        by the Python community on using and developing the Python programming language.
        It's a 2-day conference, hosted by <a href="http://www.git.edu">GIT Engineering College, Belgaum</a>.
      </div>
      <div class="events-info">
        <div class="event-item">
          <div class="name">Workshops</div>
          <div class="date">28 February</div>
          <div class="border-line orange"></div>
        </div>
        <div class="event-item">
          <div class="name">Conference</div>
          <div class="date">1 March</div>
          <div class="border-line orange"></div>
        </div>
        <div class="clr"></div>
      </div>
      <a href="https://www.instamojo.com/pssi/pybelgaum-2015/" target="_blank" class="btn-boxy buy-tickets">Buy Tickets</a>
      <a href="http://junction.pybelgaum.org/pybelgaum/proposals/" target="_blank" class="btn-boxy buy-tickets">Call for Proposals</a>
      <div class="clr"></div>
    </div>
  </header>

  <header class="main-header home">
    <div class="container">
      <a href="index.html" class="logo"><h1>PyBelgaum 2015, Belgaum, Karnataka</h1></a>
      <a class="mobile_icon"></a>
      <a href="https://www.instamojo.com/pssi/pybelgaum-2015/" target="_blank" class="btn-boxy buy-tickets">Buy Tickets</a>
      <nav class="top-navigation" role="navigation">
        <ul>
          <li class="speakers">
            <a href="#section_speakers">Speakers</a>
            <div class="border-line short"></div>
          </li>
          <li class="schedule">
            <a href="#section_schedule">Schedule</a>
            <div class="border-line short"></div>
          </li>
          <li class="venue">
            <a href="#section_venue">Venue</a>
            <div class="border-line short"></div>
          </li>

          <li class="sponsors">
            <a href="{{ site.static_path }}/images/PyBelgaum_Sponsorship_Brochure.pdf" target="_blank">Brochure</a>
            <div class="border-line short"></div>
          </li>
          <li class="blog">
            <a href="#section_sponsors">Sponsors</a>
            <div class="border-line short"></div>
          </li>
          <!-- <li class="coc">
            <a href="{{site.baseurl}}/blog/pycon-india-code-of-conduct/">Code of Conduct</a>
            <div class="border-line short"></div>
          </li>
          <li class="blog">
            <a href="{{site.baseurl}}/blog/faq-frequently-asked-questions/">FAQ</a>
            <div class="border-line short"></div>
          </li> -->
        </ul>
      </nav>
      <div class="clr"></div>
    </div>
  </header>

  <div class="home-sticky-nav">
    <div class="container">
      <nav class="top-navigation">
        <ul>
          <li class="speakers">
            <a href="#section_speakers">Speakers</a>
          </li>
          <li class="schedule">
            <a href="#section_schedule">Schedule</a>
          </li>
          <li class="venue">
            <a href="#section_venue">Venue</a>
          </li>
          <li class="sponsors">
            <a href="{{ site.static_path }}/images/PyBelgaum_Sponsorship_Brochure.pdf" target="_blank">Brochure</a>
          </li>
          <li class="sponsors">
            <a href="#section_sponsors">Sponsors</a>
          </li>
          <!-- <li class="blog">
            <a href="#section_updates">Blog</a>
          </li>
          <li class="coc">
            <a href="{{site.baseurl}}/blog/pycon-india-code-of-conduct/">Code of Conduct</a>
          </li>
          <li class="blog">
            <a href="{{site.baseurl}}/blog/faq-frequently-asked-questions/">FAQ</a> -->
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <nav class="top-navigation-mobile">
    <ul>
      <li class="speakers active">
        <a href="#section_speakers">Speakers</a>
      </li>
      <li class="schedule">
        <a href="#section_schedule">Schedule</a>
      </li>
      <li class="venue">
        <a href="#section_venue">Venue</a>
      </li>
      <li class="sponsors">
            <a href="{{ site.static_path }}/images/PyBelgaum_Sponsorship_Brochure.pdf" target="_blank">Brochure</a>
            <div class="border-line short"></div>
          </li>
      <li class="sponsors">
        <a href="#section_sponsors">Sponsors</a>
      </li>
      <!-- <li class="blog">
        <a href="{{ site.baseurl }}/blog/">Blog</a>
      </li> -->
      <!-- <li class="coc">
        <a href="{{ site.baseurl }}/blog/pycon-india-code-of-conduct/">Code of Conduct</a>
      </li> -->
      <!-- <li class="blog">
        <a href="{{ site.baseurl }}/blog/faq-frequently-asked-questions/">FAQ</a>
      </li> -->

    </ul>
  </nav>

{{ content }}
